{% extends 'hospital/citizen_base.html' %}
{% load static %}
{% block content %}
{#{%include 'hospital/citizen_dashboard_cards.html'%}#}

<br><br><br><br>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Holes</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Id</th>
{#          <th>Profile Picture</th>#}
          <th>Street</th>
          <th>Size</th>
          <th>Position</th>
          <th>Area</th>
          <th>Priority</th>
            <th>Status</th>
        </tr>
      </thead>
      {% for p in holse %}
      <tr>
        <td> {{p.id}}</td>
{#        <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>#}
        <td>{{p.street}}</td>
        <td>{{p.size}}</td>
        <td>{{p.position}}</td>
          <td>{{p.area}}</td>
        <td>{{p.priority}}</td>
      <td>{{p.status}}</td>


      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% endblock content %}
